@page
@model BeautyInternational.App.Frontend.Pages.RegistrosModel
@{
}
<body>
    <div class="container" style="position: absolute;left: 0;right: 0;top: 50%;transform: translateY(-50%);-ms-transform: translateY(-50%);-moz-transform: translateY(-50%);-webkit-transform: translateY(-50%);-o-transform: translateY(-50%);">
        <div class="row d-flex d-xl-flex justify-content-center justify-content-xl-center">
            <div class="col-sm-12 col-lg-10 col-xl-9 col-xxl-7 bg-white shadow-lg" style="border-radius: 30px;">
                <div class="p-5">
                    <div class="text-center">
                        <h4 class="text-dark mb-4" style="color: rgb(119,48,115);font-family: Akshar, sans-serif;">Regístrate</h4>
                    </div>
                    <form class="user">
                        <div class="mb-3"><input class="form-control form-control-user" type="email" placeholder="Nombre Usuario" required style="font-family: Akshar, sans-serif;" /></div>
                        <div class="mb-3"><input id="email" class="form-control form-control-user" type="email" placeholder="Correo Electrónico" required style="font-family: Akshar, sans-serif;" /></div>
                        <div class="row mb-3">
                            <div class="col-sm-6 mb-3 mb-sm-0"><input id="password" class="form-control form-control-user" type="password" placeholder="Contraseña" required style="font-family: Akshar, sans-serif;" /></div>
                            <div class="col-sm-6"><input id="verifyPassword" class="form-control form-control-user" type="password" placeholder="Repetir Contraseña" required style="font-family: Akshar, sans-serif;" /></div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="text" placeholder="Nombre Completo" required style="font-family: Akshar, sans-serif;" /><input class="form-control form-control-user" type="text" placeholder="Teléfono" required style="font-family: Akshar, sans-serif;" /></div>
                            <div class="col-sm-6"><input class="form-control form-control-user" type="text" placeholder="Dirección" required style="font-family: Akshar, sans-serif;" /><input class="form-control form-control-user" type="text" placeholder="Fecha Nacimiento" required style="font-family: Akshar, sans-serif;" /></div>
                        </div>
                        <div class="row mb-3">
                            <p id="emailErrorMsg" class="text-danger" style="display: none;">Paragraph</p>
                            <p id="passwordErrorMsg" class="text-danger" style="display: none;">Paragraph</p>
                        </div><button id="submitBtn" class="btn btn-primary d-block btn-user w-100" type="submit" style="background: rgb(119,48,115);font-family: Akshar, sans-serif;">Registrar cuenta</button>
                        <hr />
                    </form>
                    <div class="text-center"><a class="small" href="forgot-password.html">Olvidaste la contraseña?</a></div>
                    <div class="text-center"><a class="small" href="login.html">Ya posees una cuenta? Ingresa aqui!</a></div>
                </div>
            </div>
        </div>
        <div></div><img id="logo" src="BeautyLogo.svg" />
    </div><img id="background-img-registro" src="pablo-merchan-montes-O-sNTavXbmE-unsplash.jpg" style="opacity: 0.15;" />
</body>