@page
@model BeautyInternational.App.Frontend.Pages.RegistrosModel
@{
}
<form>
    <div class="mb-3">
        <label for="exampleInputCedula" class="form-label">Cédula</label>
        <input type="Cedula" placeholder="Por favor introduzca cédula" class="form-control" id="exampleInputCedula">
    </div>
    <div class="mb-3">
        <label for="exampleInputNombres" class="form-label">Nombres</label>
        <input type="Nombres" placeholder="Por favor introduzca nombres" class="form-control" id="exampleInputNombres">
    </div>
    <div class="mb-3">
        <label for="exampleInputApellidos" class="form-label">Apellidos</label>
        <input type="Apellidos" placeholder="Por favor introduzca apellidos" class="form-control" id="exampleInputApellidos">
    </div>
    <div class="mb-3">
        <label for="exampleInputEdad" class="form-label">Edad</label>
        <input type="Edad" placeholder="Por favor introduzca edad" class="form-control" id="exampleInputEdad">
    </div>
    <div class="mb-3">
        <label for="exampleInputGenero" class="form-label">Genero</label>
        <input type="Genero" placeholder="Por favor introduzca genero" class="form-control" id="exampleInputGenero">
    </div>
     <div class="mb-3">
        <label for="exampleInputDireccion" class="form-label">Dirección</label>
        <input type="Direccion" placeholder="Por favor introduzca dirección" class="form-control" id="exampleInputDireccion">
    </div>
    <div class="mb-3">
        <label for="exampleInputCelular" class="form-label">Celular</label>
        <input type="Celular" placeholder="Por favor introduzca celular" class="form-control" id="exampleInputCelular">
    </div>
    <div class="input-group mb-3">
        <label for="exampleInputEmail1" class="form-label">Correo electronico</label>
        <input type="text" class="form-control" placeholder="ejemplo" aria-label="ejemplo">
        <span class="input-group-text">@@</span>
        <input type="text" class="form-control" placeholder="ejemplo.com" aria-label="ejemplo.com">
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>