@page
@model BeautyInternational.App.Frontend.Pages.RegistrosModel
@{
}
<form method="post">
    <div class="mb-3">
        <label for="exampleInputCedula" class="form-label">Cédula</label>
        <input asp-for="persona.cedula" type="text" placeholder="Por favor introduzca cédula" class="form-control" id="exampleInputCedula">
    </div>
    <div class="mb-3">
        <label for="exampleInputNombres" class="form-label">Nombres</label>
        <input asp-for="persona.nombre" type="text" placeholder="Por favor introduzca nombres" class="form-control" id="exampleInputNombres">
    </div>
    <div class="mb-3">
        <label for="exampleInputApellidos" class="form-label">Apellidos</label>
        <input asp-for="persona.apellido" type="text" placeholder="Por favor introduzca apellidos" class="form-control" id="exampleInputApellidos">
    </div>
    <div class="mb-3">
        <label for="exampleInputEdad" class="form-label">Fecha de nacimiento</label>
        <input asp-for="persona.fechaNacimiento" type="date" placeholder="Por favor introduzca edad" class="form-control" id="exampleInputEdad">
    </div>
    <div class="mb-3">
        <label for="exampleInputGenero" class="form-label">Genero</label>
        <input asp-for= "persona.genero" type="text" placeholder="Por favor introduzca genero" class="form-control" id="exampleInputGenero">
    </div>
     <div class="mb-3">
        <label for="exampleInputDireccion" class="form-label">Dirección</label>
        <input asp-for="persona.direccion" type="text" placeholder="Por favor introduzca dirección" class="form-control" id="exampleInputDireccion">
    </div>
    <div class="mb-3">
        <label for="exampleInputCelular" class="form-label">Celular</label>
        <input asp-for="persona.celular" type="text" placeholder="Por favor introduzca celular" class="form-control" id="exampleInputCelular">
    </div>
    <div class="input-group mb-3">
        <label for="exampleInputEmail1" class="form-label">Correo electronico</label>
        <input asp-for="persona.correo" type="text" class="form-control" placeholder="ejemplo@hotmail.com" aria-label="ejemplo">
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>