@page
@model BeautyInternational.App.Fronted.Pages.HistorialModel
@{
}
<table class="table caption-top">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha</th>
            <th scope="col">hora</th>
            <th scope="col">Servicio</th>
            <th scope="col">Profesional</th>
        </tr>
    </thead>
    <!--<tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@@twitter</td>
    </tr>
  </tbody>-->
</table>