@page
@model BeautyInternational.App.Frontend.Pages.ConsultaCitaModel
@{
}
<form>
    <div class="mb-3">
            <h2> Consulta Cita </h2>

         <i class='fas fa-id-card'></i>
        <input type="number" placeholder="Introduzca cédula" maxlength="   " id="exampleInputCedula"><button type="button1">Buscar</button>
         </div>
        <div class="mb-3">
           <i class='fas fa-user-edit'></i>
        <input type="text" placeholder="Introduzca Nombres"class="form-control" id="exampleInputNombres">
        </div>
        <div class="mb-3"><i class='fas fa-user-edit'></i>
        <input type="Text" placeholder="Introduzca Apellidos" class="form-control" id="exampleInputApellidos">
    </div> 
    
    <div class="mb-3">
        <i class='far fa-edit'></i>
        <input type="text" placeholder=" Servicio Asignado" class="form-control" id="exampleInputservicio">
    

    </div>
    <div class="mb-3">
       <i class='far fa-calendar-alt'></i>
        <input type="text" placeholder=" Fecha del Servicio" class="form-control" id="exampleInputservicio">
    

    </div>
   
<div class="mb-3">
       <i class='far fa-clock'></i>
        <input type="text" placeholder="hora del servicio " class="form-control" id="exampleInputservicio">
        
    </div>

    
    <dir>

    </dir>
   
    <button type="button2">Reasignar</button>
    
    <button type="button3">Cacelar</button>
</form>