@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Beauty International</h1>
    <div class="contenido-inicial">
        <p>Contamos con los mejores profesionales que los pueden atender en la comodidad de su casa</p>
        <p>Estamos disponibles para trabajar en cualquier parte de la ciudad y nos adaptamos a sus horarios</p>
        <p>¡REGISTRATE YA!</p>
    </div>
</div>
