@page
@model BeautyInternational.App.Fronted.Pages.ServiciosModel
@{
}
<h1>Listado de Servicios a los que puedes acceder</h1>
<table class="table caption-top" background>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Servicio</th>
      <th scope="col">Precio</th>
    </tr>
  </thead>
  @foreach (var servicio in Model.Servicios)
  {
    <tbody>
      <tr>
        <td>@servicio.id</td>
        <td>@servicio.tipoServicio</td>
        <td>@servicio.precio</td>
      </tr>
    </tbody>
  }
</table>