@page
@model BeautyInternational.App.Fronted.Pages.ServiciosModel
@{
}
<body>
    <header>
        <nav class="navbar navbar-light navbar-expand-md">
            <div class="container-fluid"><a class="navbar-brand" href="#"><img src="BeautyLogo.svg" /></a><button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div id="navcol-1" class="collapse navbar-collapse">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link active" href="#" style="font-family: Akshar, sans-serif;">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="#" style="font-family: Akshar, sans-serif;">Registro datos</a></li>
                        <li class="nav-item"><a class="nav-link" href="#" style="font-family: Akshar, sans-serif;">Actualiza datos</a></li>
                        <li class="nav-item"><a class="nav-link" href="#" style="font-family: Akshar, sans-serif;">Servicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="#" style="font-family: Akshar, sans-serif;">Citas</a></li>
                        <li class="nav-item"><a class="nav-link" href="#" style="font-family: Akshar, sans-serif;">Consulta</a></li>
                        <li class="nav-item"><a class="nav-link" href="#" style="font-family: Akshar, sans-serif;">Historial</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="ServiciosGral" style="background: url('slavcho-malezanov-lE8NqEPIedE-unsplash.jpg') center / cover no-repeat, rgba(255,255,255,0.43);backdrop-filter: opacity(1);opacity: 0.72;filter: sepia(2%);font-family: Akshar, sans-serif;">
        <div class="container py-4 py-xl-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 style="font-family: Akshar, sans-serif;color: rgb(255,255,255);">SERVICIOS</h2>
                    <p class="w-lg-50" style="font-family: Akshar, sans-serif;color: rgb(254,254,254);">Escoge por donde quieres empezar el cambio y descubrir tú belleza interna</p>
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col">
                    <div class="card">
                        <div class="card-body p-4" style="border-width: 0px;"><img src="hairstyle.png" width="49" height="49" />
                            <h4 class="card-title">CORTE CABELLO</h4>
                            <p class="card-text" style="font-size: 30px;">$ 15.000</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body p-4"><img src="hairstyle (1).png" width="50" height="50" />
                            <h4 class="card-title">CORTE BARBA</h4>
                            <p class="card-text" style="font-size: 30px;">$ 8.000</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body p-4"><img src="nail-polish.png" width="50" height="50" />
                            <h4 class="card-title">MANICURE</h4>
                            <p class="card-text" style="font-size: 30px;">$ 7.000</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>