@page
@model BeautyInternational.App.Frontend.Pages.InicioSesionModel
@{
}
<form class="form">
    <h2 class=" Form_ title"> Inicia Sesion</h2>
    <p class=" Form_paragraph">¿ aun no tines una cuenta?<a href="Registro/Registros" class="form_link">Entra aqui</a></p>
    <div class="form_container">
        <div class="form_grupo">
            <input type="text" id=" user" class="form_input" placeholder="  ">
            <label for="user" class="form_label">Usuario</label>
            <span class="form:line"></span>
        </div>
         <div class="form_grupo">
            <input type="text" id=" password" class="form_input" placeholder="  ">
            <label for="password" class="form_label">contraseña</label>
            <span class="form:line"></span>
        </div>
        <input type="submit" class="form_submit" value="Ingresar"> 





    </div>






</form>
